.UH_form {
  .form-control:focus {
    outline: none;
    box-shadow: 0 1px 7px 1px rgba(0, 123, 255, .25);
  }

  .pl-input-wrapper {
    margin-bottom: 5px;

    label {
      font-size: 18px;
      margin-bottom: 0;
    }

    .pl-input {
      height: 36px;
      font-size: 16px;
    }

    .text-muted {
      font-size: 15px;
    }
  }

  .form-check {
    padding-left: 0;
    padding-right: 0;

    .pl-checkbox {
      height: auto;
      display: inline-block;
      width: auto;
    }
  }

  .pl-btn {
    border-radius: 0;
    font-size: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

@import "login";
@import "forgot_password";
@import "registration";
@import "verify_email";